<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/login/Selenium.Easy"><classes><class name="tests.InputForms.SimpleFormTests"><methods><include name="singleInputField"/><include name="twoInputField"/></methods></class><class name="tests.SetUpTests"><methods><include name="launch_Application"/></methods></class></classes></test></suite>